<!-- app/views/employees/new.html.erb -->
<div class="container">
  <h1 class="mb-4">New Employee</h1>
  
  <%= render 'form', employee: @employee %>

  <%= link_to 'Back', employees_path, class: "btn btn-secondary mt-3" %>
</div>
