<%# app/views/layouts/_sidebar.html.erb %>
<div class="sidebar">
  <ul class="nav flex-column">
    
    <li class="nav-item">
      <%= link_to 'Employees', new_employeelist_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'leavesReport', leaveslists_path, class: 'nav-link' %>
    </li>
   
    <!-- Add more links as needed -->
  </ul>
</div>
